/**
 * uni-app 内置变量
 * 这里可以覆盖 uni-app 的默认变量
 */

/* 主题色 */
$uni-color-primary: #4A90E2;
$uni-color-success: #52c41a;
$uni-color-warning: #faad14;
$uni-color-error: #ff4d4f;

/* 文字颜色 */
$uni-text-color: #333333;
$uni-text-color-inverse: #ffffff;
$uni-text-color-grey: #999999;
$uni-text-color-placeholder: #c0c4cc;
$uni-text-color-disable: #c8c9cc;

/* 背景色 */
$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1;
$uni-bg-color-mask: rgba(0, 0, 0, 0.4);

/* 边框颜色 */
$uni-border-color: #e8e8e8;

/* 字体大小 */
$uni-font-size-sm: 24rpx;
$uni-font-size-base: 28rpx;
$uni-font-size-lg: 32rpx;

/* 间距 */
$uni-spacing-row-sm: 10rpx;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;
